*,
*::before,
*::after {
    box-sizing: border-box;
}

/* main styles*/
.container {
    width: 100%;

}

body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    background-color: #363333;
}

header {
    background-color: #363333;
    /* text-align: center; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    margin: auto;
    align-items: center;
    top: 0;
    z-index: 100;
    width: 100%;
    max-width: 100vw;
}



nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: #363388;

    width: 100%;
    transform: scale(1, 0);
    transition: transform 250ms ease-in-out;
    transform-origin: top;

}

h1 {
    color: #F6ECE9;
    text-align: center;
    /* position: relative; */
    font-size: 20px;
    margin: 0;
    /* left: 43%; */
}

h2 {
    color: #F6ECE9;
}

h3 {
    color: #F6ECE9;
    margin: 0;

}






p {
    font-size: 14px;
    line-height: 16px;
    color: #F6ECE9;

}

nav ul {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 10px;
    margin-left: 10px;

}

nav a {
    color: #F6ECE9;
    text-decoration: none;
    font-size: 20px;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.inputwrapper label {
    margin-right: 10px;

}

.inputwrapper input {
    width: 80%;
}

/*class styles*/
#contact {
    margin-top: 100px;
}

.logotitle {
    width: 250px;
    position: relative;
    left: 25%;
    margin: 0 0 60px 0;

}

.email {
    font-size: 16px;
    color: #F6ECE9;

}

i {
    font-size: 30px;
    color: red;
    display: inline;
    margin-top: 80px;
}

.fa-twitter,
.fa-instagram {
    width: 20%;


}

.buytickets {
    text-decoration: none;
    font-size: 15px;
    /* position: absolute; */
    /* bottom: 17px; */
    color: #F6ECE9;
    padding-right: 7px;
    /* right: 10px; */



}

.buytickets:hover {
    color: black;
}




.content {
    position: relative;
    top: 130px;
    margin: 10px;

}

.speakercard {
    position: relative;
    width: 50%;
    left: 15%;
    display: inline-block;

    margin: 0;
    margin-left: 0;
    margin-bottom: 5px;
    text-align: center;
}

.speaker-photo {
    width: 120%;
    text-align: center;
}

.details {
    margin: 0;
    text-align: left;
    position: relative;
    left: 24%;
}



.button-reset {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: inherit;

}

button {
    background-color: #363388;
    float: right;

}

.enter {
    margin-top: 10px;
    margin-right: 17px;
    color: #F6ECE9;
    background-color: #363388;
    padding: 5px;

}


/* navigation */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    /* position: absolute; */
    color: #F6ECE9;
    /* top: 0;
    left: 0; */
    margin-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav-toggle-label:hover {
    color: black;
}





nav a:hover {
    color: black;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out 250ms;
}

/* media queries*/

@media (min-width: 800px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }

    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}
