*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #EDF0F1;
}

.timelineitem {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #B74926;
    position: relative;

}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;

}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;

}

h3 {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    padding: 100px;
}

.times {
    position: absolute;
    margin-right: auto;

    top: 5%;
}

figure {
    margin: 10%;

    /* width: 100%; */
    background-color: #FEE165;
}

img {
    /* width: 320px; */
    display: block;
    padding: 10px;
    max-width: 100%;
}

figcaption {
    font-family: 'Noto Sans', sans-serif;
    font-size: 9px;
    padding: 5px;

    background-color: #FFF0A5;

}

.timelinepictures {

    margin: 0;
}
